$color-primary: #530653;
$color-body: rgb(251, 246, 234);
$color-secondary: #400440ba;
$color-primary-shade:#f0d7f0e1;
$color-blue: rgb(79, 79, 188);
$color-blue-shade: rgb(104, 197, 255);
$color-white: #ffff;
$text-black:#000000;
$text-white: #ffff;
$text-light:#303030ab;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 600
);
$font-family: "Lato";
// $font-family: ;
$mobile: 800px;
$tablet: 900px;
$web: 1000px;

// $font-main: Arial, Helvetica, sans-serif;